html {
  background-color: #080556;
  color: #ffe0c0;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #080556;
  color: #ffe0c0;
}

table {
  color: #000000;
  margin: 5px;
  & tr:nth-child(even) {
    background-color: #e7e7e7;
  }
  & tr:nth-child(odd) {
    background-color: #f4f4f4;
  }
  & td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }
  & firstColumn {
    text-align: left;
  }
  & .emptyRow {
    background-color: #080556;
    border: 0px;
  }
}

button {
  background-color: #ffffff;
  color: #000000;
}  

.btn-provider-selected {
  background-color: #7b7b7b;
  color: #000000;
}