@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CosmosOdyssey!</h1>
    <h2 size="14px">Most trusted space flight booking site since 2023!</h2>
    
    <div>
        <form method="get">
            <label for="from">From:</label>
            <select id="from" name="from" asp-for="fromSelection">
                <option value="" hidden>Select something</option>
                <option value="Earth">Earth</option>
                <option value="Neptune">Neptune</option>
            </select>
            <label for="to">To:</label>
            <select id="to" name="to" asp-for="toSelection">
                <option value="" hidden>Select something</option>
                <option value="Jupiter">Jupiter</option>
                <option value="Uranus">Uranus</option>
            </select>
            <button type="submit">Go!</button>
        </form>
    </div>
    <div>
        @if (Model.chosenRoute != null){
            <h3>Route Information</h3>
            <p>From: @Model.chosenRoute.From</p>
            <p>To: @Model.chosenRoute.To</p>
            <p>Distance: @Model.chosenRoute.Distance</p>
            <h4>Providers:</h4>
            <ul>
                @*@foreach (var provider in Models.TravelRouteModel.Providers){
                    <li>@provider.CompanyName</li>
                }*@
                lol
            </ul>
        }
    </div>
</div>